<ion-modal-view class="forgot-password-modal">
    <ion-content class="padding">
        <div class="section padding">
            <h2>Change Your Password</h2>
            
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="New Password">
                </label>
            </div>
            
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Confirm Password">
                </label>
            </div>
            
            <div class="fg-button text-right">
                <button class="button button-clear button-assertive" ng-click="closechangepassword()">
                    CANCEL
                </button>
                <button class="button button-clear button-assertive">
                    SEND
                </button>
            </div>
            
            
        </div>
    </ion-content>
</ion-modal-view>