<ion-content class="introduction">
    
    
    
    <img src="img/instafeed-logo.png" class="logo" alt="">
    
    <ion-slides  options="options" slider="data.slider">
        <!-- SLIDE 1  -->
        <ion-slide-page>
            <div>
                <h1>News</h1>
                <img src="img/intro-1.jpg" alt="">
                <p>Instafeed a is a social platform that lets people share their genuine opinions about anything that matters to them. It can be about their talents</p>
            </div>
        </ion-slide-page>
        
        <!-- SLIDE 2  -->
        <ion-slide-page>
            <div>
                <h1>Talents</h1>
                <img src="img/intro-1.jpg" alt="">
                <p>Instafeed a is a social platform that lets people share their genuine opinions about anything that matters to them. It can be about their talents</p>
            </div>
        </ion-slide-page>
        
        <!-- SLIDE 3  -->
        <ion-slide-page>
            <div>
                <h1>Explorer</h1>
                <img src="img/intro-1.jpg" alt="">
                <p>Instafeed a is a social platform that lets people share their genuine opinions about anything that matters to them. It can be about their talents</p>
            </div>
        </ion-slide-page>
        
        
    </ion-slides>
    
</ion-content>

<a href="#/app/newslisting" name="newslisting" class="skip">
    SKIP
</a>