<ion-modal-view>
    <ion-content>
        
        <button class="close-icon icon ion-close-circled" ng-click="closelogin()" style="color: #ffffff;"></button>

        <div class="login-form">
            <div class="logo text-center">
                <img src="img/instafeed-logo-white.png" alt="">
            </div>
            
            <div class="form-control">
                <div class="field">
                    <input type="text" placeholder="@username">
                </div>
                <div class="field">
                    <input type="text" placeholder="password">
                </div>
                <div class="forgot-password">
                    <a ng-click="forgotpassword()">Forgot Password ?</a>
                </div>
                <div class="go-btn text-center">
                    <button>
                        GO!
                    </button>
                </div>
            </div>
            
            <div class="next-space">
                <button>
                    <i>OR</i>
                </button>
            </div>
        </div>
        
        
        <!-- SOCIAL LOGIN PART -->
        <div class="social-login">
            <div class="list text-center">
                
                <a class="item item-icon-left facebook item-positive" href="#">
                    <i class="icon ion-social-facebook"></i>
                    Login with Facebook
                </a>
                
                
                <a class="item item-icon-left google item-assertive" href="#">
                    <i class="icon ion-social-googleplus"></i>
                    Login with Google+
                </a>
                
            </div>
        </div>
        
        <!-- CREATE AN ACCOUNT -->
        <div class="text-center">
            <div class="lg-sn-btn">
                <a ng-click="signup()">Create an Account</a>
            </div>
        </div>
        
        
        
    </ion-content>
</ion-modal-view>
