<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <!-- <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>  
            
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar> -->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
    <ion-side-menu side="left" class="side-menu">
        <ion-header-bar>
            <!-- BEFORE LOGIN START -->
            <div class="before-login" style="display: none;">
                <div class="logo text-center">
                    <img src="img/instafeed-logo.png" alt="">
                </div>
                
                <div class="row">
                    <div class="col col-50">
                        <button ion-button type="submit" class="login-btn" block ng-click="login()">LOGIN</button>
                    </div>
                    <div class="col col-50">
                        <button ion-button type="submit" class="signup-btn" block ng-click="signup()">SIGN UP</button>
                    </div>
                </div>
            </div> 
            <!-- BEFORE LOGIN END.. -->
            <!-- AFTER LOGIN START -->
            <div class="after-login">
                <div class="profile-icon">
                    <img src="img/me.png" alt="">
                </div>
                
                <h2>mohit k</h2>
                <p>mohitk@abacusdesk.co.in</p>
            </div> 
            <!-- AFTER LOGIN END.. -->
        </ion-header-bar>
        
        
        <ion-content class="side-menu-cnt">
            <ion-list>
                
                <ion-item menu-close href="#/app/newslisting">
                    <i class="icon ion-home"></i>
                    Home
                </ion-item>
                
                <ion-item menu-close href="#/app/profile">
                    <i class="icon ion-person"></i>
                    Profile
                </ion-item>
                
                <ion-item menu-close href="#/app/mypost">
                    <i class="icon ion-cube"></i>
                    My Post
                </ion-item>
                
                <ion-item menu-close href="#/app/followers">
                    <i class="icon ion-ionic"></i>
                    Followers
                    <span class="badge badge-assertive">3</span>
                </ion-item>
                
                <ion-item menu-close href="#/app/following">
                    <i class="icon ion-ionic"></i>
                    Following
                    <span class="badge badge-assertive">5</span>
                </ion-item>
                
                <ion-item menu-close ng-click="changepassword()">
                    <i class="icon ion-android-lock"></i>
                    Change Password
                </ion-item>
                
                <ion-item menu-close block ng-click="login()">
                    <i class="icon ion-edit"></i>
                    Create a Post
                </ion-item>
                
                <ion-item>
                    <i class="icon ion-information-circled"></i>
                    About us
                </ion-item>
                
                <ion-item class="in-active">
                    <i class="icon ion-android-lock"></i>
                    Logout
                </ion-item>
                
            </ion-list>
        </ion-content>
        
        <!-- <ion-content class="side-menu-cnt">
            <ion-list>
                <ion-item menu-close ng-click="login()">
                    Login
                </ion-item>
                <ion-item menu-close href="#/app/search">
                    Search
                </ion-item>
                <ion-item menu-close href="#/app/browse">
                    Browse
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Playlists
                </ion-item>
            </ion-list>
        </ion-content> -->
    </ion-side-menu>
</ion-side-menus>


