<div class="bar bar-header dasboard-header">
    <button class="button icon ion-navicon-round none-background" menu-toggle="left"></button>
    <h1 class="title"><img src="img/instafeed-logo.png" alt=""></h1>
    <a class="button none-background upload-icon" href="#/app/newsupload" name="newsupload"><img src="img/upload.png" alt=""></a>
    
    <button class="button icon ion-ios-search-strong search-icon" ng-click="addClass()"></button>

</div>

<div class="bar bar-header item-input-inset top-search">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
    </label>
    <button class="button none-background button-clear button-assertive" ng-click="removeClass()">
        Cancel
    </button>
</div>


<ion-content class="has-header">
    <!-- <div class="m-space" style="height: 44px;"></div> -->
    
    <div class="mypost-profile-sect">
        <div class="profile-icon">
            <img src="img/me.png" alt="">
        </div>
        
        <div class="profile-header">
            <h2>mohit k</h2>
        </div>
    </div>
    
    
<ion-scroll direction="x" class="scroll-tabs">
    <ul>
        <li class="active">
            <a href="#/app/newslisting" name="newslisting">News</a>
        </li>
        <li>
            <a href="#/app/talentslisting" name="talentslisting">Talents</a>
        </li>
        <li>
            <a href="#/app/explorelisting" name="explorelisting">Explorer</a>
        </li>
        <li>
            <a href="" name="">Opinions</a>
        </li>
        <li>
            <a href="" name="">Petitions</a>
        </li>
        <li>
            <a href="" name="">Polls</a>
        </li>
        <li>
            <a href="" name="">Blogs</a>
        </li>
    </ul>
</ion-scroll>

    
    <div class="list mypost-listing">
        
        <div class="item item-thumbnail-left" href="#">
            <img src="img/perry.png">
            <p class="time">August 05, 17</p>
            <h2>Pretty Hate Machine</h2>
            <p>Lorem ipsum dolor sit amet hell well, consectetur adipisicing elit.</p>
        </div>
        
        <div class="item item-thumbnail-left" href="#">
            <img src="img/perry.png">
            <p class="time">August 05, 17</p>
            <h2>Pretty Hate Machine</h2>
            <p>Lorem ipsum dolor sit amet hell well, consectetur adipisicing elit.</p>
        </div>
        
        <div class="item item-thumbnail-left" href="#">
            <img src="img/perry.png">
            <p class="time">August 05, 17</p>
            <h2>Pretty Hate Machine</h2>
            <p>Lorem ipsum dolor sit amet hell well, consectetur adipisicing elit.</p>
        </div>
        
        <div class="item item-thumbnail-left" href="#">
            <img src="img/perry.png">
            <p class="time">August 05, 17</p>
            <h2>Pretty Hate Machine</h2>
            <p>Lorem ipsum dolor sit amet hell well, consectetur adipisicing elit.</p>
        </div>
        
    </div>
    
    
</ion-content>
