<div class="bar bar-header dasboard-header">
    <button class="button icon ion-navicon-round none-background" menu-toggle="left"></button>
    <h1 class="title"><img src="img/instafeed-logo.png" alt=""></h1>
    <a class="button none-background upload-icon" href="#/app/newsupload" name="newsupload"><img src="img/upload.png" alt=""></a>
    
    <button class="button icon ion-ios-search-strong search-icon" ng-click="addClass()"></button>

</div>

<div class="bar bar-header item-input-inset top-search">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
    </label>
    <button class="button none-background button-clear button-assertive" ng-click="removeClass()">
        Cancel
    </button>
</div>

  
<ion-content class="has-header">
    <!-- <div class="m-space" style="height: 44px;"></div> -->
    
    <div class="profile-sect">
        <div class="profile-header">
            <h2>mohit k</h2>
        </div>
        
        <div class="profile-icon">
            <img src="img/me.png" alt="">
            
            <button class="button" ng-click="camera_click()">
                <i class="icon ion-android-camera"></i>
            </button> 
        </div>
        
        <div class="follow-following">
            <div class="followers">
                <h3>323</h3>
                <p>Followers</p>
            </div>
            <div class="following">
                <h3>143</h3>
                <p>Following</p>
            </div>
        </div>
        
        <div class="button-type-3 text-center">
            <a href="#/app/editprofile" name="editprofile">edit profile</a>
        </div>
    </div>
    
    <ul class="list profile-listing">
        <li class="item">
            <p>First Name</p>
            <h2>Mohit</h2>
        </li>
        <li class="item">
            <p>Middle Name</p>
            <h2>--</h2>
        </li>
        <li class="item">
            <p>Last Name</p>
            <h2>Kashyup</h2>
        </li>
        <li class="item">
            <p>Profile</p>
            <h2>http://instafeed.org/profile/mohitk</h2>
        </li>
        <li class="item">
            <p>Email ID</p>
            <h2>mohitk@abacusdesk.co.in</h2>
        </li>
        <li class="item">
            <p>Contact No</p>
            <h2>--</h2>
        </li>
        <li class="item">
            <p>Date of Birth</p>
            <h2>01 January 1192</h2>
        </li>
        <li class="item">
            <p>Gender</p>
            <h2>Male</h2>
        </li>
        <li class="item">
            <p>Location</p>
            <h2>Faridabad</h2>
        </li>
        <li class="item">
            <p>Bio</p>
            <h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</h2>
        </li>
        <li class="item">
            <p>Website</p>
            <h2>--</h2>
        </li>
    </ul>
    
    
</ion-content>
